#container 
{
    font-size: 20px;
    width: 99%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

h1
{
    font-size: 40px;
}

.Country
{
    background: gainsboro;
}


   